.menu-items {
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 600;

    .menu-item {
        display: flex;
        width: 100%;
        margin-left: 0;
        font-weight: 600;
        padding: 11px 16px;
        &:hover {
            background-color: rgba(22, 35, 44, 0.04);
        }
        &.separateTop {
            border-top: 1px solid rgba(22, 35, 44, 0.04);
        }
    }
}
.menu-scroll {
    overflow-y: auto;
    height: 100%;
}

//Header
.header {
    position: relative;
    height: 50px;
    flex-shrink: 0;
}

.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
