.wrapper {
    border-top: 1px solid rgba(22,24,35,0.1);
}

.label {
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--black-color);
    padding-top: 12px;
}

.avatar {
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.account-item {
    display: flex;
    align-items: center;
    padding-top: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color ease-in-out 250ms;
    &:hover{
        background-color: rgba(22,24,35,0.03);
    }
}

.item-info {
    font-size: 1.4rem;
    margin-left: 12px;
    flex: 1;
}

.nickname {
    font-weight: 700;
}

.name {
    font-weight: 400;
    font-size: 1.2rem;
    color: rgba(22,24,35,0.8);
}
.see-all{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.6rem;
    padding-top: 12px;
    cursor: pointer;
}