.wrapper {
    --search-border-radius: 92px;

    z-index: 10;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgba(0 0 0 /12%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width, 1150px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-pd);
}
.logo {
}


.actions {
}

.actions {
    display: flex;
    align-items: center;
}
.current-user-btn {
    background-color: transparent;
    font-size: 2.2rem;
    color: #161823;
    padding: 12px 16px;
    cursor: pointer;
}
.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}

.more-btn {
    font-style: 2rem;
    margin-left: 24px;
    background: transparent;
    padding: 8px;
    cursor: pointer;
}
//Upload
.customTextUpload {
    color: var(--primary-color);
}

.customUpload {
    border: 1px solid var(--primary-color);
    &:hover{
        background: rgba(22, 24, 35, 0.03);
    }
}
